<section
  class="resume-section p-3 p-lg-5 d-flex align-items-center"
  id="education"
>
  <div class="w-100">
    <h2 class="mb-5">Education</h2>

    <div
      class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5"
    >
      <div class="resume-content">
        <h3 class="mb-0">
          Maulana Abul Kalam Azad University of Technology (MAKAUT), formerly
          West Bengal University of Technology (WBUT)
        </h3>
        <div class="subheading mb-3">Bachelor of Computer Applications</div>
        <div>Computer Science - Web Development Track</div>
        <p>GPA: 8.49</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">June 2014 - July 2017</span>
      </div>
    </div>

    <div
      class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5"
    >
      <div class="resume-content">
        <h3 class="mb-0">Kendriya Vidyalaya</h3>
        <div class="subheading mb-3">
          All India Senior School Certificate Examination
        </div>
        <p>Marks Percentage Obtained: 76.8</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">April 2011 - March 2013</span>
      </div>
    </div>

    <div
      class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5"
    >
      <div class="resume-content">
        <h3 class="mb-0">Kendriya Vidyalaya</h3>
        <div class="subheading mb-3">
          All India Secondary School Examination
        </div>
        <p>CGPA: 9.4</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">April 2009 - March 2011</span>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>

