<section
  class="resume-section p-3 p-lg-5 d-flex justify-content-center"
  id="experience"
>
  <div class="w-100">
    <h2 class="mb-5">Experience</h2>

    <div
      class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5"
    >
      <div class="resume-content">
        <h3 class="mb-0">Business Technology Analyst</h3>
        <div class="subheading mb-3">
          Deloitte Consulting India Private Limited
        </div>
        <p>
          Bring to the table win-win survival strategies to ensure proactively
          domination in terms of Front-end technologies such as Angular, React,
          Vue, HTML5, CSS3, Bootstrap, Git, Github, Heroku (PaaS). At the end of
          the day, going forward, a new normal that has evolved from Millennials
          is on the runway heading towards a streamlined UI/UX solution.
          User-generated content in real-time will have multiple touchpoints for
          offshoring.
        </p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">June 2019 - Present</span>
      </div>
    </div>

    <div
      class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5"
    >
      <div class="resume-content">
        <h3 class="mb-0">Associate Analyst</h3>
        <div class="subheading mb-3">
          Deloitte Consulting India Private Limited
        </div>
        <p>
          Micro Focus completed their merger with Hewlett Packard Enterprise
          creating one of worlds largest pure-play software companies. Deloitte
          and DXC are supporting all the critical and non-critical applications
          that help business. I worked on NetSuite ERP as a Techno-Functional
          Consultant. Automation of the Rewards and Recognition of the Deloitte
          - Core Business Operations employees using React.js, HTML5, CSS3,
          Bootstrap 3, Node.js, Git, Github. The project is deployed on Heroku
          (at https://cbo-rnr.herokuapp.com).
        </p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">October 2017 - May 2019</span>
      </div>
    </div>
  </div>
</section>
