<section
  class="resume-section p-3 p-lg-5 d-flex align-items-center"
  id="interests"
>
  <div class="w-100">
    <h2 class="mb-5">Interests</h2>
    <p>
      Apart from being a web developer, I enjoy most of my time being outdoors
      playing football. I am an ardent
      <strong>Liverpool Football Club</strong> fan. It is a way of life. I and
      my fellow fans will be hoping that the chant “A team that plays the
      Liverpool way, wins the Championship in May” will come into fruition again
      under the guidance of Jurgen Klopp.
    </p>

    <p class="mb-0">
      When forced indoors, I play sports, open-world games on Xbox. I follow
      several sci-fi and fantasy genre movies and television shows, I am an
      aspiring football analyst, and I spend a large amount of my free time
      exploring the latest technology advancements in the front-end web
      development world.
    </p>
  </div>
</section>
<app-footer></app-footer>
