<section
  class="resume-section p-3 p-lg-5 d-flex align-items-center"
  id="skills"
>
  <div class="w-100">
    <h2 class="mb-5">Skills</h2>

    <div class="subheading mb-3">Programming Languages &amp; Tools</div>
    <ul class="list-inline dev-icons">
      <li class="list-inline-item px-4">
        <fa-icon [icon]="faHtml5"></fa-icon>
      </li>
      <li class="list-inline-item px-4">
        <fa-icon [icon]="faCss3"></fa-icon>
      </li>
      <li class="list-inline-item px-4">
        <fa-icon [icon]="faJs"></fa-icon>
      </li>
      <li class="list-inline-item px-4">
        <fa-icon [icon]="faAngular"></fa-icon>
      </li>
      <li class="list-inline-item px-4">
        <fa-icon [icon]="faReact"></fa-icon>
      </li>
      <li class="list-inline-item px-4">
        <fa-icon [icon]="faVuejs"></fa-icon>
      </li>
      <li class="list-inline-item px-4">
        <fa-icon [icon]="faBootstrap"></fa-icon>
      </li>
      <li class="list-inline-item px-4">
        <fa-icon [icon]="faJsfiddle"></fa-icon>
      </li>
    </ul>

    <ul class="list-inline dev-icons">
      <li class="list-inline-item px-4">
        <fa-icon [icon]="faNodeJs"></fa-icon>
      </li>
      <li class="list-inline-item px-4">
        <fa-icon [icon]="faNpm"></fa-icon>
      </li>
      <li class="list-inline-item px-4">
        <fa-icon [icon]="faGitAlt"></fa-icon>
      </li>
      <li class="list-inline-item px-4">
        <fa-icon [icon]="faGithub"></fa-icon>
      </li>
      <li class="list-inline-item px-4">
        <fa-icon [icon]="faJira"></fa-icon>
      </li>
      <li class="list-inline-item px-4">
        <fa-icon [icon]="faFreeCodeCamp"></fa-icon>
      </li>
      <li class="list-inline-item px-4">
        <fa-icon [icon]="faBitbucket"></fa-icon>
      </li>
    </ul>

    <div class="subheading mb-3">Workflow</div>
    <ul class="fa-ul mb-0">
      <li>
        <fa-icon [icon]="faCheck"></fa-icon>
        Mobile-First, Responsive Design
      </li>
      <li>
        <fa-icon [icon]="faCheck"></fa-icon>
        Cross Browser Testing &amp; Debugging
      </li>
      <li>
        <fa-icon [icon]="faCheck"></fa-icon>
        Cross Functional Teams
      </li>
      <li>
        <fa-icon [icon]="faCheck"></fa-icon>
        Agile Development &amp; Scrum
      </li>
    </ul>

    <div class="subheading my-3 py-3">Projects</div>
    <div class="container">
      <div class="row">
        <div class="col-sm mb-3">
          <div class="card bg-primary text-white" style="width: 18rem;">
            <img class="card-img-top" [src]="netImage" alt="Card image cap" />
            <div class="card-body">
              <h5 class="card-title">My Portfolio</h5>
              <p class="card-text">
                My Portfolio is the first project that I created using the
                Angular framework while learning more on Front-end Development.
                The project uses Angular version 8, Angular Router, Bootstrap 4,
                HTML5, CSS3, JavaScript, TypeScript. It is running on a Heroku
                server via Node.js. All the packages were managed using the Node
                Package Manager (NPM).
              </p>
              <a
                href="https://samratghosh-portfolio.herokuapp.com/"
                target="_blank"
                class="btn btn-danger"
                >View Deployment</a
              >
            </div>
          </div>
        </div>
        <div class="col-sm mb-3">
          <div class="card bg-primary text-white" style="width: 18rem;">
            <img class="card-img-top" [src]="netImage1" alt="Card image cap" />
            <div class="card-body">
              <h5 class="card-title">Rewards And Recognition Web App</h5>
              <p class="card-text">
                This web application was developed as part of the Automation of
                the Rewards and Recognition for Deloitte Consulting Core
                Business Operations offering portfolio supporting more 10k
                practitioners in India and 3+ practitioners in the US.The
                project uses React, Bootstrap 3, HTML5, CSS3, JS. It is running
                on a Heroku server via Node.js and NPM.
              </p>
              <a
                href="https://cbo-rnr.herokuapp.com/"
                target="_blank"
                class="btn btn-danger"
                >View Deployment</a
              >
            </div>
          </div>
        </div>
        <div class="col-sm mb-3">
          <div class="card bg-primary text-white" style="width: 18rem;">
            <img class="card-img-top" [src]="netImage2" alt="Card image cap" />
            <div class="card-body">
              <h5 class="card-title">Recipe Web Application</h5>
              <p class="card-text">
                This web application is still work in progress.
              </p>
              <a href="https://sam-course-project-1.herokuapp.com/" target="_blank" class="btn btn-danger">View Deployment (Initial)</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
