<section
  class="resume-section p-3 p-lg-5 d-flex align-items-center"
  id="awards"
>
  <div class="w-100">
    <h2 class="mb-5">Awards &amp; Certifications</h2>
    <ul class="fa-ul mb-0">
      <li>
        <i class="fa-li fa fa-trophy text-warning"></i>
        <strong>Scrum Fundamentals Certified (SFC™)</strong>
      </li>
      <li>
        <i class="fa-li fa fa-trophy text-warning"></i>
        <strong
          >Deloitte Consulting Private India Limited - Spot Award - May 2018
        </strong>
      </li>
      <li>
        <i class="fa-li fa fa-trophy text-warning"></i>
        <strong
          >Deloitte Consulting Private India Limited - Spot Award - April
          2019</strong
        >
      </li>
      <li>
        <i class="fa-li fa fa-trophy text-warning"></i>
        <strong
          >Deloitte Consulting Private India Limited - Client Appreciation
          Award: Micro Focus - November 2019</strong
        >
      </li>
      <li>
        <i class="fa-li fa fa-trophy text-warning"></i>
        <strong>NPTEL Online Certification: IMAD</strong>
      </li>
      <li>
        <i class="fa-li fa fa-trophy text-warning"></i>
        <strong>Lynda.com: Web Development Foundations</strong>
      </li>
    </ul>
  </div>
</section>
