<section
  class="resume-section p-3 p-lg-5 d-flex align-items-center"
  id="awards"
>
  <div class="w-100">
    <h2 class="mb-5">Awards &amp; Certifications</h2>
    <ul class="fa-ul mb-0">
      <li>
        <fa-icon [icon]="faAward"></fa-icon> {{ "   " }}
        <strong>Scrum Fundamentals Certified</strong> (SFC™)
      </li>
      <li>
        <fa-icon [icon]="faAward"></fa-icon> {{ "   " }}
        <strong>Deloitte Consulting Private India Limited</strong> - Spot Award
        - May 2018
      </li>
      <li>
        <fa-icon [icon]="faAward"></fa-icon> {{ "   " }}
        <strong>Deloitte Consulting Private India Limited</strong> - Spot Award
        - April 2019
      </li>
      <li>
        <fa-icon [icon]="faAward"></fa-icon> {{ "   " }}
        <strong>Deloitte Consulting Private India Limited</strong> - Client
        Appreciation Award: Micro Focus - November 2019
      </li>
      <li>
        <fa-icon [icon]="faAward"></fa-icon> {{ "   " }}
        <strong>NPTEL Online Certification</strong>: IMAD
      </li>
      <li>
        <fa-icon [icon]="faAward"></fa-icon> {{ "   " }}
        <strong>Lynda.com</strong>: Web Development Foundations
      </li>
    </ul>
  </div>
</section>
